@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/app.css")">
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCvKmZI6dFq8sTi4-h5I1yb_yVIHnmBsUU"></script>
    </head>
    <body>
        <div id="map"></div>
        @content
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
</html>
